<section class="mx-[100px] my-[50px]">
    {{> blogpost}}
</section>

<section id="dashboard" style="display: none;">
    <div class="userphoto"></div>
    <div class="newPost"></div>
    <div class="deletePost"></div>
    <div class="updatePost"></div>
</section>
