<section class="mx-[100px] my-[50px] grid grid-cols-2">
    <div class="login mx-[10px] px-[50px] border-r-2 ">
        <form id="login" class="login grid">
            <label for="username" class="my-[10px] text-pink-300 text-3xl font-extrabold">Username</label>
            <input type="text" id="username" name="username" class="p-[5px] w-[500px]" placeholder="Enter Your Username" required>
            <label for="password" class="my-[10px] text-pink-300 text-3xl font-extrabold">Password</label>
            <input type="password" id="password" name="password" class="p-[5px] w-[500px]" placeholder="Enter Your Password" required>
            <button type="submit" class="my-[30px] bg-pink-200 p-[10px] w-[100px] rounded-lg drop-shadow-md font-bold">Login</button>
        </form>
    </div>
    <div class="signup px-[50px]">
        <form class="signup grid">
            <label for="username" class="my-[10px] text-pink-300 text-3xl font-extrabold">Username</label>
            <input type="text" id="username" name="username" placeholder="Set A New Username" class="p-[5px] w-[500px]" required>
            <label for="email" class="my-[10px] text-pink-300 text-3xl font-extrabold">Email</label>
            <input type="text" id="email" name="email" placeholder="Enter A Valid Email" class="p-[5px] w-[500px]" required>
            <label for="password" class="my-[10px] text-pink-300 text-3xl font-extrabold">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter New Password" class="p-[5px] w-[500px]" required>
            <button type="submit" class="my-[30px] bg-pink-200 p-[10px] w-[100px] rounded-lg drop-shadow-md font-bold">Sign Up</button>
        </form>
    </div>
</section>